<a href="https://colab.research.google.com/github/BhuvanGowda18/Learning_Python/blob/main/20181CCE0014_ex6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##1
c={}
for i in range(7):
  day=input("Enter the day: ")
  t=float(input("Enter the temperature: "))
  c[(day)]=t
inp=input("Enter the day - SUN,MON,TUE,WED,THUR,FRI or SAT : ")
print("The temperature : ",c[(inp)])

Enter the day: sun
Enter the temperature: 30
Enter the day: mon
Enter the temperature: 29
Enter the day: tue
Enter the temperature: 31
Enter the day: wed
Enter the temperature: 33
Enter the day: thur
Enter the temperature: 31
Enter the day: fri
Enter the temperature: 29
Enter the day: sat
Enter the temperature: 27
Enter the day - SUN,MON,TUE,WED,THUR,FRI or SAT : wed
The temperature :  33.0

In [ ]:
#2
vote =eval(input("Enter the votes : "))
count={}
prev=[]
for i in vote:
  if i not in prev:
    n=vote.count(i)
    count[(i)]=n
    prev.append(i)
print(count)
max=max(count.values()) 
lst=[i for i in count.keys() if count[i]==max]  
print(sorted(lst)[0]+" won the election")

Enter the votes :  ["Raja", "Raja", "Elango","Elango", "Elango", "Elango","Elango", "john", "john","Alfred", "Raja", "Raja","Raja"]
{'Raja': 5, 'Elango': 5, 'john': 2, 'Alfred': 1}
Elango won the election

In [ ]:
#3
phoneBook={'John':"00903234561",'Mary':"02359332865",'Bill':"004934784530"}
print(phoneBook.keys())
print(phoneBook.values())
print(phoneBook.items())
print(sorted(phoneBook))
print(phoneBook['Mary'])
phoneBook[('Robert')]="01135894114"
print(phoneBook)
del phoneBook["Robert"]
print(phoneBook)
'John' in phoneBook

dict_keys(['John', 'Mary', 'Bill'])
dict_values(['00903234561', '02359332865', '004934784530'])
dict_items([('John', '00903234561'), ('Mary', '02359332865'), ('Bill', '004934784530')])
['Bill', 'John', 'Mary']
02359332865
{'John': '00903234561', 'Mary': '02359332865', 'Bill': '004934784530', 'Robert': '01135894114'}
{'John': '00903234561', 'Mary': '02359332865', 'Bill': '004934784530'}

True

In [ ]:
#4
s=input("Input: ")
s=s.split(' ')
s1=''
prev = []
for i in  s:
  if i not in prev:
    s1=s1+i+" "
    prev.append(i)
print("output:",s1)

Input:  Python is great and Java is also great
output:  Python is great and Java also

In [ ]:
#6
list0={"PEN": 10,"NOTEBOOK": 20,"PENCIL": 5,"SCALE": 10,"STAPLER": 40,"ERASER": 2,"HIGHLIGHTER": 15,}
name=input("Enter the customer name: ")
list1=eval(input("Enter the list of item and number item bought by customers: "))
cost,sum={},0
for i in list1:
  cost[(i)]=list0[(i)]*list1[(i)]
  sum=sum+cost[(i)]
print("Name: ",name)
print("Item     Number of item     Price")
for i in cost:
  print(i,"\t",list1[(i)],"\t",cost[(i)])
print("Total amount to be paid : ",sum)

Enter the customer name: jeevan
Enter the list of item and number item bought by customers: {"PEN":2,"NOTEBOOK":4,"STAPLER":2,"HIGHLIGHTER":4}
Name:  jeevan
Item     Number of item     Price
PEN 	 2 	 20
NOTEBOOK 	 4 	 80
STAPLER 	 2 	 80
HIGHLIGHTER 	 4 	 60
Total amount to be paid :  240

https://colab.research.google.com/drive/1gTYjqhd5JRNypyef8QmlwA81TFWNbaB8?usp=sharing