<a href="https://colab.research.google.com/github/BhuvanGowda18/Learning_Python/blob/main/EX3_20181CCE0014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #1
n=int(input("enter a number:"))
while True:
  if(n==99):
    print("congratulation you have won!!!")
    break
  else:
    if(n>99):
      n=int(input("enter a lower number:")) 
    else:
      n=int(input("enter a larger number:"))

enter a number:100
enter a lower number:25
enter a larger number:45
enter a larger number:45
enter a larger number:99
congratulation you have won!!!

In [ ]:
 #Q2
while True:
  a=int(input("enter the value of a:"))
  b=int(input("enter the value of b:"))
  print("Calculator Menu")
  print("1.ADD\n2.SUBTRACT\n3.MULTIPLY\n4.DIVISION\n0.EXIT")
  n=int(input("enter your choice:"))
  if n==1:
    print(a+b)
  elif n==2:
    print(a-b)
  elif n==3:
    print(a*b)
  elif n==4:
    print(a/b)
  elif n==0:
    break

enter the value of a:10
enter the value of b:12
Calculator Menu
1.ADD
2.SUBTRACT
3.MULTIPLY
4.DIVISION
0.EXIT
enter your choice:4
0.8333333333333334
enter the value of a:0
enter the value of b:0
Calculator Menu
1.ADD
2.SUBTRACT
3.MULTIPLY
4.DIVISION
0.EXIT
enter your choice:5
enter the value of a:5
enter the value of b:10
Calculator Menu
1.ADD
2.SUBTRACT
3.MULTIPLY
4.DIVISION
0.EXIT
enter your choice:0

In [ ]:
 #3 SQUARE_STAR_PATTERN
s=int(input("enter the side of the square"))
for i in range(s):
  for j in range(s):
    print('*',end='')
  print()

enter the side of the square10
**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [ ]:
#3-RIGHT TRIANGLE STAR PATTERN
rows=int(input("enter the number of rows"))
for i in range(1,rows+1):
  for i in range(1,i+1):
       print('*',end='')
  print()

enter the number of rows6
*
**
***
****
*****
******

In [ ]:
 #3-PYRAMID STAR PATTERN
rows=int(input("enter the number of rows"))
if rows>0: 
  for i in range(rows):
   for s in range(rows-i):
     print("",end="")
   for j in range((i*2)-1):
     print("*",end="")
   print()

enter the number of rows5

*
***
*****
*******

In [ ]:
#3-HALF DIAMOND STAR PATTERN 
rows=int(input("enter the number of rows"))
for i in range(0,rows):
  for j in range(0,i+1):
    print("*",end='')
  print() 
for i in range(rows,0,-1):
  for j in range(0,i-1):
    print("*",end='')
  print()

enter the number of rows6
*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
#3 X STAR PATTERN
n=int(input("enter the value of n"))
for i in range(n):
  for j in range(n):
   if(i==j or j==n-1-i):
    print("*",end='')
   else:
    print("",end='')
  print()

enter the value of n10
**
**
**
**
**
**
**
**
**
**

In [ ]:
 #3 DIAMOND STAR PATTERN
num=int(input("enter the number of rows"))
for i in range(num):
  print(''*(num-i-1)+'*'*(i+1))
for i in range(num-1):
  print(''*(i+1)+'*'*(num-i-1))

enter the number of rows5
*
**
***
****
*****
****
***
**
*

https://colab.research.google.com/drive/1ms31_AKuxl1Q5gEOV-eDIrNN8vOqu-C6?usp=sharing